<div class="container">
  <h1 class="text-center">{{title}}</h1>
  <select class="form-control" (change)="getBooksForALibrary($event)">
    <option selected="">Choose Library</option>
    <option *ngFor="let lib of libraries" value={{lib.lib_id}}>{{lib.name}}</option>
  </select>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Book Id</th>
        <th>Title</th>
        <th>Publisher</th>
        <th>Cover</th>
        <th>ISBN</th>
        <th>Page</th>
        <th>Available</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{book.book_id}}</td>
        <td>{{book.title}}</td>
        <td>{{book.publisher}}</td>
        <td>{{book.cover}}</td>
        <td>{{book.isbn}}</td>
        <td>{{book.pages}}</td>
        <td>{{book.available}}</td>
        <td>{{book.library.name}}</td>
      </tr>
      <tr *ngIf="len==0">
        <td colspan="8" class="text-center">
          <div class="alert alert-danger">
            No Books found for this Library
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>